<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Error</title>
    <link rel="stylesheet" href="/public/style.css">
    <!-- Add any other styles or scripts if needed -->
</head>
<body>
    <div class="container">
        <h1>Error</h1>
        <p>{{error}}</p>
    </div>
</body>
</html>