<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
  
      <title>Zero Food Waste</title>
      <link rel="stylesheet" href="../public/css/notifications.css" />
</head>

<body>
    <div class="container-notifications">
        <h1 class="px-4 mb-3">Inventory</h1>
        <main>
             <div id="message-bar">
      <p id="notification"></p>
    </div>
            {{!-- <button id="addButton" type="submit" >Add food items</button> --}}
            <button class="btn btn-primary addButton active" data-form="addButton">Add Food</button>
            <button class="btn btn-secondary closeButton" data-form="closeButton">Close </button>
            <div id="addFood" class="container" >
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Enter the food details </h5>
                <form id="addFood-form" method="post" action="/food">
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="itemName">Item Name:
                                <input type="text" name="itemName" id="itemName" placeholder="Eg:Milk"  >
                            </label><br>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="quantity">Quantity:
                                <input type="number" step="0.01" name="quantity" id="quantity" placeholder="Eg:2" >
                            </label><br>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="unit"> Unit:
                                <select name="unit" id="unit">
                                    <option value="">Select...</option>
                                    <option value="tsp">Teaspoon</option>
                                    <option value="tbsp">Tablespoon</option>
                                    <option value="c">Cup</option>
                                    <option value="pt">Pint</option>
                                    <option value="qt">Quart</option>
                                    <option value="gal">Gallon</option>
                                    <option value="oz">Ounce</option>
                                    <option value="floz">Fluid ounce</option>
                                    <option value="lb">Pound</option>
                                </select><br>
                            </label><br>
                        </div>
                    </div>
                </div> 
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="expiryDate">Expiry Date:
                                <input type="date" name="expiryDate" id="expiryDate"  placeholder="MM/DD/YYYY">
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="costPerItem">CostPerItem:
                                <input type="number" step="0.01" name="costPerItem" id="costPerItem" placeholder="Eg:20" >
                            </label><br>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="totalCost">Total Cost:
                                <input type="number" step="0.01" name="totalCost" id="totalCost" placeholder="Eg:200" >
                            </label><br>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="brand">Brand:
                                <input type="text" name="brand" id="brand" placeholder="Eg:Costco" >
                            </label><br>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="category">Category:
                                <input type="text" name="category" id="category" placeholder="Eg:Dairy" >
                            </label><br>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="status">status:
                                <select name="status" id="status">
                                    <option value="">Select...</option>
                                    <option value="Fresh">Fresh</option>
                                    <option value="Early Decline">Early Decline</option>
                                </select>
                            </label><br>
                        </div>
                    </div>
                </div>
                <button id="formAddButton" type="submit">Add</button>
                <button type="reset" id="clearBtn">Clear</button>

                </form>
               
        </main>
    </div>

    <script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();
</script>
  <script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="/public/js/inventory.js"></script>
     <script src="/public/js/expiration.js"></script>
</body>

</html>
