<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Recipes</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/public/css/recipes.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
  </head>
  <body class"recipes-page">
    <header class="main-header">
      <h1>Recipe Suggestions</h1>
    </header>
    <div class="ing-container">
      <div>
        {{#if hasIngredients}}
        
                <p class="user-instructions">Select an ingredient to find recipe recommendations.</p>
        
          <ul class="ingredient-list">
            {{#each inventoryItems}}
              <li class="ingredient-item">
                <a href="#" class="ingredient-link" data-ingredient="{{this.itemName}}">
                    {{this.itemName}}
                </a>
              </li>
            {{/each}}
          </ul>
        {{else}}
          <p class="no-ingredients">You have no ingredients in your inventory.</p>
          <div class="add-item-container">
            <a href="/food" class="add-item-button">Forgot to add your items?</a>
          </div>
        {{/if}}
      </div>
      <div id="recipes-container"></div>
      </div>
    <script src="/public/js/recipes.js"></script>
  </body>
</html>