
<head>
    <link href="/public/css/composting.css" rel="stylesheet" />
</head>
<body>
    <header class="main-header">
    <h1>Food Sharing</h1>
    </header>
    <main>
        <section class="composting-tips container my-5">

            <div class="card mb-3">
                <div class="row g-0">
                    
                    <p>Welcome to our initiative to share food with local food banks and make a positive impact on our community.</p>
                
                </div>
            </div>
            
        </section>