

hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
  }


  .analytics-info {
    text-align: center;
    margin: 20px 0;
    padding: 10px; 
    font-size: 1rem;
    color: #333;
    background-color: #f9f9f9; 
    border-radius: 5px; 
}

