html, body {
    height: 100%; /* Full height for the page */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Stack main content and footer */
}


main {
    flex-grow: 1; /* Allows main content to grow and fill the space */
}

footer {
    text-align: center;
}
.text-center.p-3 {
    background-color: #4a7c59;
    color: #ffffff; 
}


body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
}

.main-header {
    background-color: #4a7c59;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-header h1 {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

#logo-link {
    margin-left: 15px;
}

/* Error Styles */
.error-list {
    color: red;
    margin-top: 20px;
}



@media (max-width: 992px) { /* Adjust breakpoint as needed */
    .navbar-collapse {
        padding-left: 15px; /* Adds padding on the left */
        padding-right: 15px; /* Adds padding on the right for symmetry */
    }
}
