body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}
.container {
    display: grid;
    grid-template-columns: 1fr 2fr; /* Adjust as needed */
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.main-header {
    background-color: #4a7c59;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-header h1 {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

h1 {
    color: #2a9d8f; 
    text-align: center;
    grid-column: 1 / -1; 
    margin-bottom: 20px;
}

/* Ingredients List */
.ingredient-list {
    list-style-type: none;
    padding: 0;
}

.ingredient-item {
    background-color: #e9f5f2; 
    border: 1px solid #2a9d8f; 
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer; 
}

/* Recipe Container */
#recipes-container {
    padding-left: 20px;
}

.recipe {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; 
    gap: 10px;
    max-width: 450px;
}

.recipe img {
    width: 100%; 
    height: auto;
    border-radius: 5px;
}

.recipe h3 {
    margin: 0;
    font-size: 1em;
    text-align: center;
}

.recipe a {
    text-decoration: none;
    color: #2a9d8f;
    font-weight: bold;
    align-self: center; 
    margin-top: auto; 
}


.error-message {
    color: red;
    text-align: center;
    margin-top: 20px;
}

a {
    color: #2a9d8f; /* Modern link color */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Instructions for the user */
.user-instructions {
    font-size: 1rem;
    margin-bottom: 15px;
    color: #333;
    text-align: left;
}

